services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --config /home/nonroot/.cloudflared/config.yml run
    volumes:
      - ./cloudflared:/home/nonroot/.cloudflared:ro
    networks:
      traefik-proxy:
        ipv4_address: 192.168.100.12
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  traefik-proxy:
    external: true
